@charset "UTF-8";
/*COLORES*/
/*FUENTES*/
/*MIXINS*/
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #161a20;
  color: #efefe3;
}

img {
  max-width: 100%;
}

/* buena práctica */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* para q el nav quede arriba */
.navbar {
  background-color: rgba(0, 0, 0, 0.519);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-family: "Source Sans Pro", sans-serif;
  /* como el home tiene "active" necesité agregar todo ese choclo para que quede blanco tambien */
}
.navbar .navbar-brand {
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 992) {
  .navbar {
    height: 8vh;
  }
}
.navbar a, .navbar .navbar-nav .nav-item .active {
  color: #efefe3;
  font-size: 14px;
}

.navbar-nav li a:hover {
  color: rgb(240, 242, 255);
}

.navbar-collapse {
  display: flex;
  justify-content: flex-start;
  margin-left: 3.3%;
  height: 100%;
}

/* para cuando se despliega */
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-right: 10rem;
    margin-left: 5rem;
  }
}
/* y en media armamos lo que sucede cuando sobrepasa los 992, menu horizontal */
/* acomodamos el nav entero */
.navbar-brand {
  margin-left: 3%;
}

/* y estilito al universion */
.navbar-toggler {
  background-color: #efefe3;
  opacity: 0.9;
}

/* --------------------------------------------- */
/* main interpage (solo para acomodar visualmente las págs vacías) */
.main-interpage {
  margin-top: 1rem;
  margin-bottom: 35rem;
}

.main-interpage h1, p {
  margin-left: 1rem;
}

/* --------------------------------------------- */
/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  background-color: #efefe3;
  opacity: 0.9;
}
footer .container-redes a {
  color: black;
  text-decoration: none;
  font-size: 22px;
}
footer h5 {
  font-size: 17px;
  color: #161a20;
  margin-top: 1rem;
}
footer span {
  font-size: 13px;
  color: #161a20;
  margin-top: -3px;
  margin-bottom: 7px;
}

/* CAROUSEL */
#carouselExampleCaptions {
  margin-bottom: 3rem;
  /* pal indicador inferior */
}
#carouselExampleCaptions .custom-carousel, #carouselExampleCaptions .carousel-inner {
  height: 93vh;
}
#carouselExampleCaptions .custom-carousel, #carouselExampleCaptions .carousel-item {
  height: 100%;
}
#carouselExampleCaptions .custom-carousel img, #carouselExampleCaptions .carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#carouselExampleCaptions .carousel-control-prev-icon, #carouselExampleCaptions .carousel-control-next-icon {
  background-color: transparent;
  background-image: none;
}
#carouselExampleCaptions .carousel-indicators {
  opacity: 0.45;
}

.carousel-caption {
  margin-bottom: 18px;
}
.carousel-caption h1 {
  font-size: 26px;
}
.carousel-caption p {
  display: none;
}
.carousel-caption .btn {
  margin-top: 10px;
  font-size: 20px;
  background-color: rgb(224, 198, 143);
  color: #161a20;
  border-color: rgba(22, 26, 32, 0.2431372549);
  border-radius: 8px;
  cursor: pointer;
}
.carousel-caption .btn:hover {
  background-color: rgb(225, 176, 71);
  color: #161a20;
  border-color: rgba(22, 26, 32, 0.2431372549);
}
.carousel-caption .btn:active {
  background-color: #161a20;
  border-color: rgb(225, 176, 71);
  color: rgb(225, 176, 71);
}

@media (max-width: 992px) {
  .carousel-caption p {
    display: none;
  }
}
@media (min-width: 768px) {
  .carousel-caption h1 {
    font-size: 25px;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .carousel-caption h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .carousel-caption p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .carousel-caption h1 {
    font-size: 34px;
    font-weight: 600;
  }
  .carousel-caption p {
    font-size: 22px;
  }
}
/* media para words del caru */
/*-------BENEFITS SECTION---------*/
#benefits-section {
  background-color: rgba(44, 43, 43, 0.283);
  height: 225px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#benefits-section .bnf-icon-strip {
  font-size: 65px;
}
#benefits-section .bnf-text-strip {
  font-size: 13px;
}

@media (min-width: 500px) {
  #benefits-section {
    height: 220px;
  }
  #benefits-section .bnf-text-strip {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  #benefits-section {
    height: 210px;
  }
  #benefits-section .bnf-text-strip {
    font-size: 18px;
  }
}
/* -------CARDS SECTION----------- */
.card-section {
  background: rgba(51, 44, 31, 0.033);
  margin-top: 2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  padding-top: 4rem;
}
.card-section .card-img {
  border-radius: 10px;
  margin-bottom: 6rem;
  -webkit-box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.07);
  -moz-box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.07);
  box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.05);
  transition: 0.8s;
}
.card-section .card-img:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.07);
  -moz-box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.07);
  box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.03);
}
.card-section .banner1, .card-section .banner2, .card-section .banner2b, .card-section .banner3 {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  font-size: 22px;
  color: aliceblue;
}

/* estilo a las card-img*/
@media (max-width: 768px) {
  .card-section .banner2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .card-section .banner2b {
    display: none;
  }
}
/* media queries para banner 2/2b */
@media (min-width: 992px) {
  .card-section .banner1, .banner3 {
    padding-left: 6rem;
  }
  .card-section .banner2 {
    padding-left: 2rem;
    padding-right: 6rem;
  }
}
/* media para adaptar bien los span */
.upper-content {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.upper-content h1 {
  font-weight: 600;
}

#pricing-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85vw;
}
#pricing-cards .card {
  background-color: rgba(44, 43, 43, 0.283);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: #efefe3;
  border-radius: 15px;
  border: solid 0.1px;
  transition: transform 0.7s;
}
#pricing-cards .card .card-body h2 {
  font-size: 25px;
}
#pricing-cards .card .card-body .btn {
  background-color: rgb(224, 198, 143);
  color: #161a20;
  border-color: rgba(22, 26, 32, 0.2431372549);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}
#pricing-cards .card .card-body .btn:hover {
  background-color: rgb(225, 176, 71);
  color: #161a20;
}
#pricing-cards .card .card-body .btn:active {
  background-color: #161a20;
  color: rgb(225, 176, 71);
  border-color: rgb(225, 176, 71);
}
#pricing-cards .card .card-body .plan-price {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}
#pricing-cards .card .card-body .plan-price .price-number {
  font-size: 40px;
}
#pricing-cards .card .card-body .plan-price .price-mo {
  margin-top: 15px;
}
#pricing-cards .card .card-body .plans-text-set {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 20px;
}
#pricing-cards .card .card-body .plans-items {
  margin-bottom: 15px;
}
#pricing-cards .card .card-body .plans-items .pts-none {
  color: transparent;
}
#pricing-cards .card .btn {
  margin-bottom: 3px;
}
#pricing-cards .card:hover {
  transform: scale(1.03);
}

/*MEDIAS MOBILE*/
@media (min-width: 380px) {
  #pricing-cards {
    width: 78vw;
  }
}
@media (min-width: 450px) {
  #pricing-cards {
    width: 70vw;
  }
}
@media (min-width: 480px) {
  #pricing-cards {
    width: 65vw;
  }
}
@media (min-width: 576px) {
  #pricing-cards {
    width: 56vw;
  }
}
@media (min-width: 673px) {
  #pricing-cards {
    width: 50vw;
  }
}
@media (min-width: 734px) {
  #pricing-cards {
    width: 45vw;
  }
}
/*MEDIAS TABLET Y DESKTOP*/
@media (min-width: 768px) {
  #pricing-cards {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    width: 95vw;
  }
  #pricing-cards .card {
    width: 33.3%;
  }
  #pricing-cards .card .card-body .plans-text-set {
    font-size: 15px;
    justify-content: flex-start;
  }
}
@media (min-width: 825px) {
  #pricing-cards {
    width: 93vw;
  }
  .plans-text-set {
    font-size: 16px;
  }
}
@media (min-width: 894px) {
  #pricing-cards {
    gap: 20px;
    width: 85vw;
  }
}
@media (min-width: 992px) {
  #pricing-cards {
    gap: 20px;
    width: 78vw;
  }
}
@media (min-width: 1090px) {
  #pricing-cards {
    gap: 20px;
    width: 73vw;
  }
}
@media (min-width: 1190px) {
  #pricing-cards {
    gap: 20px;
    width: 68vw;
  }
}
@media (min-width: 1300px) {
  #pricing-cards {
    gap: 20px;
    width: 64vw;
  }
}
@media (min-width: 1400px) {
  #pricing-cards {
    gap: 20px;
    width: 60vw;
  }
}
.download-h1 {
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

#download-section {
  background: linear-gradient(to bottom, rgba(44, 43, 43, 0.283), rgba(224, 198, 143, 0.047));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 400px;
}
#download-section .download-icons {
  color: #efefe3;
  font-size: 10rem;
  display: flex;
}
#download-section .download-icons a {
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(224, 198, 143);
  transition: 0.5s;
}
#download-section .download-icons a:hover {
  color: rgb(225, 176, 71);
  transform: scale(1.02);
}
#download-section .download-icons a:active {
  color: rgba(219, 205, 205, 0.647);
}
#download-section .download-icons .icon-computer {
  display: none;
}
#download-section .download-icons .icon-phone {
  margin: 0 auto;
  margin-top: 3rem;
}
#download-section .download-spans {
  color: #efefe3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#download-section .download-spans .download-computer-text {
  display: none;
}
#download-section .download-spans .download-phone-text {
  text-align: center;
}

#steps-section {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
  height: 35vh;
  background-color: rgba(44, 43, 43, 0.283);
  color: #efefe3;
}
#steps-section h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 25px;
}
#steps-section .dwnl-steps-left, #steps-section .dwnl-steps-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#steps-section .dwnl-steps-left {
  display: none;
}
#steps-section .dwnl-steps-right {
  margin: 0 auto;
  width: 70%;
  position: relative;
  left: -20px;
}

/*MEDIA QUERIES*/
@media (min-width: 576px) {
  #steps-section .dwnl-steps-right {
    left: 0px;
  }
}
@media (min-width: 650px) {
  #steps-section .dwnl-steps-right {
    left: 10px;
  }
}
@media (min-width: 710px) {
  #steps-section .dwnl-steps-right {
    left: 25px;
  }
}
@media (min-width: 768px) {
  #download-section .download-icons {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #download-section .download-icons .icon-computer {
    display: block;
  }
  #download-section .download-icons .icon-phone {
    margin: 0;
    margin-top: 3rem;
  }
  #download-section .download-spans {
    color: #efefe3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #download-section .download-spans .download-computer-text,
  #download-section .download-spans .download-phone-text {
    text-align: center;
  }
  #download-section .download-spans .download-computer-text {
    display: block;
  }
  #steps-section .dwnl-steps-left {
    display: inline-flex;
    position: relative;
    width: 35%;
    left: -60px;
    bottom: -15px;
  }
  #steps-section .dwnl-steps-right {
    margin: 0;
    width: 40%;
    position: relative;
    left: 0px;
    right: -8px;
  }
}
@media (min-width: 1016px) {
  #steps-section .dwnl-steps-right {
    width: 30%;
  }
  #steps-section .dwnl-steps-left {
    left: -42px;
  }
}
@media (min-width: 1200px) {
  #steps-section .dwnl-steps-left {
    left: -30px;
  }
}
@media (min-width: 1400px) {
  #steps-section .dwnl-steps-left {
    left: -15px;
  }
}
.com-intro-banner {
  background: linear-gradient(to top, rgba(44, 43, 43, 0.283), rgba(44, 43, 43, 0.283), rgba(224, 198, 143, 0.09));
  width: 100%;
}
.com-intro-banner .com-intro-banner-txt {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
}
.com-intro-banner .com-intro-banner-txt h1 {
  color: rgb(220, 236, 249);
  font-size: 18px;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  top: 5px;
  left: 10px;
  padding-top: 10px;
}
.com-intro-banner .com-intro-banner-txt p {
  font-size: 10px;
  width: 95%;
  margin-top: 10px;
}
.com-intro-banner .com-intro-banner-txt span {
  font-size: 10px;
  position: relative;
  left: 20px;
  padding-bottom: 15px;
}
.com-intro-banner .com-intro-banner-pic {
  object-fit: cover;
  width: 110px;
  display: flex;
  align-items: center;
}

.ra-h2 {
  background-color: rgba(142, 97, 30, 0.356);
  margin-top: 4rem;
  padding: 2px;
  position: relative;
  right: -2rem;
  display: inline-block;
  border: solid 1px;
  border-color: beige;
  border-radius: 6px;
}
.ra-h2 h2 {
  font-size: 13px;
  padding-top: 7px;
}

#com-rising-artists {
  margin-top: 4rem;
  background: linear-gradient(to bottom, rgba(44, 43, 43, 0.283), rgba(224, 198, 143, 0.026));
  width: 100%;
  overflow: hidden;
}
#com-rising-artists .line {
  width: 95.5%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#com-rising-artists .rising-artist {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#com-rising-artists .rising-artist img {
  border-radius: 20px;
  object-fit: cover;
  padding: 10px;
  margin-left: 2rem;
  height: 23vh;
}
#com-rising-artists .rising-artist .artist-pic1, #com-rising-artists .rising-artist .artist-pic2, #com-rising-artists .rising-artist .artist-pic3 {
  width: 260px;
}
#com-rising-artists .rising-artist .artist-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  justify-content: center;
  font-size: 12px;
  width: 270px;
}

#user-testimonials {
  margin-top: 3rem;
}
#user-testimonials .ut-cards {
  margin: 0 auto;
  width: 80vw;
}
#user-testimonials .ut-cards .card {
  background-color: rgb(215, 215, 206);
  color: #161a20;
  text-align: center;
}
#user-testimonials .ut-cards .card .card-text {
  width: 97%;
  position: relative;
  bottom: -5px;
}
#user-testimonials .ut-cards .card span {
  font-size: 14px;
}

/*MEDIA QUERIES*/
@media (min-width: 400px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 24px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 15px;
  }
  .com-intro-banner .com-intro-banner-txt span {
    font-size: 13px;
  }
  #user-testimonials .ut-cards {
    width: 60vw;
  }
}
@media (min-width: 460px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 28px;
  }
  .com-intro-banner-pic {
    object-fit: cover;
    width: 150px;
    display: flex;
    align-items: center;
  }
  #com-rising-artists .rising-artist .artist-pic1, #com-rising-artists .rising-artist .artist-pic2, #com-rising-artists .rising-artist .artist-pic3 {
    width: 290px;
  }
}
@media (min-width: 500px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 30px;
  }
  .com-intro-banner .com-intro-banner-pic {
    object-fit: cover;
    width: 27vw;
    display: flex;
    align-items: center;
  }
  #com-rising-artists .rising-artist .artist-pic1, #com-rising-artists .rising-artist .artist-pic2, #com-rising-artists .rising-artist .artist-pic3 {
    width: 300px;
  }
}
@media (min-width: 576px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 36px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 16px;
    margin-top: 10px;
  }
  .com-intro-banner .com-intro-banner-txt span {
    font-size: 15px;
  }
  .ra-h2 {
    border-radius: 10px;
  }
  .ra-h2 h2 {
    font-size: 15px;
  }
  #user-testimonials .ut-cards {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #com-rising-artists .rising-artist {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
  }
  #com-rising-artists .rising-artist img {
    width: 20vw;
    height: 23vhvh;
  }
  #com-rising-artists .rising-artist .artist-pic1, #com-rising-artists .rising-artist .artist-pic2, #com-rising-artists .rising-artist .artist-pic3 {
    width: 241px;
    height: 150px;
  }
  #com-rising-artists .rising-artist .artist-txt {
    font-size: 16px;
    width: 60%;
  }
}
@media (min-width: 808px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    top: -15px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 16.5px;
    width: 95%;
  }
  .ra-h2 {
    margin-top: 4rem;
    margin-bottom: -3rem;
    padding: 8px;
    border-radius: 10px;
  }
  .ra-h2 h2 {
    font-size: 16px;
  }
}
@media (min-width: 941px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    top: -40px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 18px;
    width: 95%;
  }
  .ra-h2 h2 {
    font-size: 18px;
  }
  #com-rising-artists .rising-artist .artist-txt {
    width: 65%;
  }
}
@media (min-width: 1060px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 40px;
    top: -40px;
  }
  .com-intro-banner .com-intro-banner-txt span {
    font-size: 16px;
  }
  .ra-h2 h2 {
    font-size: 22px;
  }
}
@media (min-width: 1150px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 44px;
    top: -48px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 19.5px;
  }
}
@media (min-width: 1270px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 44px;
    top: -65px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 19.5px;
  }
  .com-intro-banner .com-intro-banner-txt span {
    font-size: 18px;
  }
  .ra-h2 h2 {
    font-size: 22px;
    padding-top: 7px;
  }
}
@media (min-width: 1333px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 50px;
    top: -65px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    font-size: 21px;
  }
}
@media (min-width: 1430px) {
  .com-intro-banner .com-intro-banner-txt h1 {
    font-size: 52px;
    top: -70px;
  }
  .com-intro-banner .com-intro-banner-txt p {
    width: 90%;
    font-size: 22px;
  }
}
/* CONTACT */
.contact-title h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-forms {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}
.contact-forms h2 {
  font-size: 26px;
}
.contact-forms .form-inputs {
  padding: 20px;
}
.contact-forms .form-inputs .btn {
  margin-top: 10px;
  font-size: 19px;
  background-color: rgb(224, 198, 143);
  color: #161a20;
  border-color: rgba(22, 26, 32, 0.2431372549);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}
.contact-forms .form-inputs .btn:hover {
  background-color: rgb(225, 176, 71);
  color: #161a20;
}
.contact-forms .form-inputs .btn:active {
  background-color: #161a20;
  color: rgb(225, 176, 71);
  border-color: rgb(225, 176, 71);
}
.contact-forms .sign-up-form, .contact-forms .login-form {
  margin-top: 2rem;
  width: 85%;
  margin: 0 auto;
  border: solid 1px rgba(255, 255, 255, 0.463);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.02);
  -moz-box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.02);
  box-shadow: 0px 0px 24px 3px rgba(240, 248, 255, 0.02);
}

/*media mobile y tablet*/
@media (min-width: 576px) {
  .contact-title h1 {
    font-size: 32px;
  }
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 68%;
  }
}
@media (min-width: 650px) {
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .contact-title h1 {
    font-size: 36px;
  }
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 55%;
  }
}
/*medias desktop*/
@media (min-width: 992px) {
  .contact-forms {
    flex-direction: row;
    margin-top: 1rem;
    gap: 0rem;
  }
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 33.5%;
  }
  .contact-forms .sign-up-form h2, .contact-forms .login-form h2 {
    margin-bottom: 20px;
  }
  .contact-forms .login-form {
    height: 100%;
  }
}
@media (min-width: 1130px) {
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 29.9%;
  }
}
@media (min-width: 1250px) {
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 27.5%;
  }
}
@media (min-width: 1400px) {
  .contact-forms .sign-up-form, .contact-forms .login-form {
    width: 26%;
  }
}
* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
