/* CONTACT */

.contact-forms {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;

    .form-inputs {
        padding: 20px;
    
        .btn {
            margin-top: 10px;   
            font-size: 19px;
    
            @include button-principal;
        }
    }

    .sign-up-form, .login-form {
        margin-top: 2rem;
        width: 85%;
        margin: 0 auto;
        border: solid 1px rgba(255, 255, 255, 0.463);
        border-radius: 20px;

        -webkit-box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.02);
        -moz-box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.02);
        box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.02);
    }


}

/*media mobile y tablet*/
@media (min-width: 576px) {
    .contact-forms {
        .sign-up-form, .login-form {
            width: 68%;
        } 
    }      
}
@media (min-width: 650px) {
    .contact-forms {
        .sign-up-form, .login-form {
            width: 65%;
        } 
    }      
}
@media (min-width: 768px) {
    .contact-forms {
        .sign-up-form, .login-form {
            width: 55%;
        }
    }   
}


/*medias desktop*/
@media (min-width:992px) {
    .contact-forms {
        flex-direction: row;
        margin-top: 1rem;
        gap: 0rem;

        .sign-up-form, .login-form {
            width: 33.5%;
        
            h3 {
                margin-bottom: 20px;
            }
        }
        
        .login-form {
            height: 100%;
        }
    }
}
@media (min-width: 1130px) {
    .contact-forms {
        .sign-up-form, .login-form {
            width: 29.9%;
        }
    } 
}
@media (min-width: 1250px) {
    .contact-forms {
        .sign-up-form, .login-form {
            width: 27.5%;
        }
    } 
}

@media (min-width: 1400px) {
    .contact-forms {
        .sign-up-form, .login-form {
            width: 25%;
        }
    } 
}