
.download-h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}


#download-section {
    background: linear-gradient(to bottom, $clr-black-fresh, rgba(224, 198, 143, 0.047));
    @include blur;
    height: 50vh;

    .download-icons {
        color: $clr-whitish-1;
        font-size: 10rem;
        display: flex;
        
        a {
            margin-top: 2rem;
            text-align: center;
            text-decoration: none;
            color: $clr-mwm-soft;
            transition: 0.5s;

            &:hover {
                color: $clr-mwm-strong;
                transform: scale(1.02);            
            }
            &:active {
                color: rgba(219, 205, 205, 0.647);
            }
        }       
        
        .icon-computer {
            display: none;
        }

        .icon-phone {
            margin: 0 auto;
            margin-top: 3rem;
        }

    }

    .download-spans {
        color: $clr-whitish-1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .download-computer-text {
            display: none;
        }

        .download-phone-text {
            text-align: center;
        }

    }

}   

#steps-section {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    height: 35vh;
    background-color: $clr-black-fresh;
    color: $clr-whitish-1;

    h2 {
        text-align: center;
        margin-top: 1rem;
        font-size: 25px;
    }

    .dwnl-steps-left, .dwnl-steps-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;       
    } 

    .dwnl-steps-left {
        display: none;
    }
    .dwnl-steps-right {
        margin: 0 auto;
        width: 70%;
        position: relative;
        left: -20px;
    }
}



/*MEDIA QUERIES*/


@media (min-width: 576px) {
    #steps-section {
        .dwnl-steps-right {
            left: 0px;
        }
    }
}
@media (min-width: 650px) {
    #steps-section {
        .dwnl-steps-right {
            left: 10px;
        }
    }
}

@media (min-width: 710px) {
    #steps-section {
        .dwnl-steps-right {
            left: 25px;
        }
    }
}



@media (min-width: 768px) {
    #download-section {
        .download-icons {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .icon-computer {
                display: block;
            }
            .icon-phone {
                margin: 0;
                margin-top: 3rem;
                
            }

        }

        .download-spans {
            color: $clr-whitish-1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            .download-computer-text,
            .download-phone-text {
                text-align: center;
            }               
            .download-computer-text {
                display: block;
            }
        }   
    }

    #steps-section {
    
        .dwnl-steps-left {
            display: inline-flex;
            position: relative;
            width: 35%;
            left: -60px;
            bottom: -15px
            
        }
        .dwnl-steps-right {
            margin: 0;
            width: 40%;
            position: relative;
            left: 0px;
            right: -8px;           
        }
    }  
}

@media (min-width: 1016px) {
    #steps-section {
        .dwnl-steps-right {
            width: 30%;
        }

        .dwnl-steps-left {
            left: -42px;
        }
    }
}

@media (min-width: 1200px) {
    #steps-section {

        .dwnl-steps-left {
            left: -30px;
        }
    }
}
@media (min-width: 1400px) {
    #steps-section {

        .dwnl-steps-left {
            left: -15px;
        }
    }
}







