/* CAROUSEL */

#carouselExampleCaptions {
    margin-bottom: 3rem;

    .custom-carousel, .carousel-inner {
        height: 93vh;
    }

    .custom-carousel, .carousel-item {
        height: 100%;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;  
        }
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent;
    background-image: none;
    }

    .carousel-indicators {
        opacity: 0.45;
    }
    /* pal indicador inferior */
}

.carousel-caption {
    margin-bottom: 18px;

    h1 {
        font-size: 26px;
    }

    p {
        display: none;
    }
       
    .btn {
        margin-top: 10px;
        font-size: 20px;
        background-color: $clr-mwm-soft;
        color: $clr-principal;
        border-color: #161a203e;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: $clr-mwm-strong;
            color: $clr-principal;
            border-color: #161a203e;
        }
        &:active {
            background-color: $clr-principal;
            border-color: $clr-mwm-strong;
            color: $clr-mwm-strong;
        }
    }
}



@media (max-width: 992px) {
    .carousel-caption p {
        display: none;
    }
}

@media(min-width: 768px) {
    .carousel-caption h1 {
        font-size: 25px;
        font-weight: 600;     
    }   
}

@media(min-width: 992px) {
    .carousel-caption h1 {
        font-size: 28px;
        font-weight: 600;     
    }
    .carousel-caption p {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .carousel-caption h1 {
        font-size: 34px;
        font-weight: 600;
    }
    
    .carousel-caption p {
        font-size: 22px;
    }
}
/* media para words del caru */




/*-------BENEFITS SECTION---------*/

#benefits-section {
    background-color: $clr-black-fresh;
    height: 225px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
   
    .bnf-icon-strip {
        font-size: 65px;
    }
    .bnf-text-strip {
        font-size: 13px;

    }
}

@media (min-width: 500px) {
    #benefits-section {
        height: 220px;
        .bnf-text-strip {
            font-size: 16px;
        }
    }  
}

@media (min-width: 768px) {
    #benefits-section {
        height: 210px;
        .bnf-text-strip {
            font-size: 18px;
        }
    }
}



/* -------CARDS SECTION----------- */

.card-section {
   // @include black-fresh-orange2; 
    background: rgba(51, 44, 31, 0.033);
    
    
    margin-top: 2rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 4rem;
    padding-top: 4rem;
    

    .card-img{
        border-radius: 10px;
        margin-bottom: 6rem;
    
        -webkit-box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.07);
        -moz-box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.07);
        box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.05);

        &:hover {
            transform: scale(1.03);
            -webkit-box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.07);
        -moz-box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.07);
        box-shadow: 0px 0px 24px 3px rgba(240,248,255,0.03)

        }     
        transition: 0.8s;
    }
   

    .banner1, .banner2, .banner2b, .banner3 {
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 6rem;
        font-size: 22px;
        color: aliceblue;
    }
}
/* estilo a las card-img*/


@media(max-width: 768px) {
    .card-section .banner2{
        display: none;
    }
}

@media(min-width: 768px) {
    .card-section .banner2b {
        display: none;
    }
}
/* media queries para banner 2/2b */




@media (min-width: 992px) {
    .card-section .banner1, .banner3 {
        padding-left: 6rem;      
    }
    .card-section .banner2 {
        padding-left: 2rem;
        padding-right: 6rem;
    }
}
/* media para adaptar bien los span */